<footer id="footer" class="footer bg-dark">     
    <div class="container">
        <div class="row-base row">
            <div class="brand-info col-base col-sm-6 col-md-6">
                <a href="#top" class="brand js-target-scroll">
                Davatronic
                </a>
                <p>{{ site.data.info.footer-text }}</p>
            </div>
            <div class="col-contacts col-base col-sm-6 col-md-3">
                <a href="tel:{{ site.data.info.phone }}" class="phone">{{ site.data.info.phone }}</a><br>
                <p>{{ site.data.info.address }}</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyrights">
            © Copyright {{ 'now' | date: '%Y' }} Davatronic. All Rights Reserved
            </div>
        </div>
    </div>
    </footer>