<!DOCTYPE HTML>
<html lang="en">
<head>
<meta  charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Davatronic</title> 

<!-- Favicons -->
<link rel="shortcut icon" href="favicon.png">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

<!-- Styles -->
<link href="//fonts.googleapis.com//css?family=Lora:400,400i,700,700i|Montserrat:400,700|Playfair+Display:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
<link href="/css/theme.css" rel="stylesheet" media="all">
</head>
<body class="comming-soon">
  
    <!-- Loader -->

    {% include loader.html %}

    <!-- Header -->

    {% include header.html %}
    
    <!-- Home -->
    
    <main class="main main-inner main-comming-soon" data-stellar-background-ratio="0.8" style="background-image: url({{ site.data.info.coming-soon-background-image }})">
      <div class="container">
        <div class="opener">
          <h1>{{ site.data.info.slider-titre }}</h1>
        </div>
      </div>
      <div id="particles-js"></div>
    </main>

    <div class="content"> 

      {{ content }}
  
      <!-- Footer -->

      {% include footer.html %}
    </div>

<!-- SCRIPTS -->

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/imagesloaded.pkgd.js"></script>

<!-- SLIDER REVOLUTION -->
<script src="/js/rev-slider/jquery.themepunch.tools.min.js"></script>
<script src="/js/rev-slider/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5x EXTENSIONS   -->
<script src="/js/rev-slider/revolution.extension.actions.min.js"></script>
<script src="/js/rev-slider/revolution.extension.carousel.min.js"></script>
<script src="/js/rev-slider/revolution.extension.kenburn.min.js"></script>
<script src="/js/rev-slider/revolution.extension.layeranimation.min.js"></script>
<script src="/js/rev-slider/revolution.extension.migration.min.js"></script>
<script src="/js/rev-slider/revolution.extension.navigation.min.js"></script>
<script src="/js/rev-slider/revolution.extension.parallax.min.js"></script>
<script src="/js/rev-slider/revolution.extension.slideanims.min.js"></script>
<script src="/js/rev-slider/revolution.extension.video.min.js"></script>
<script src="/js/interface.js"></script> 
<script src="/js/jquery.particleground.js"></script> 
<script src="/js/particles.js"></script> 
</body>
</html>